a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
  outline-color: transparent;
  outline-width: 0;
  outline-style: none;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

.form-control,
.form-control:focus {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0);
}

body {
  overflow-x: hidden;
  background-color: #f1f4f9;
}


.icon-i {
  font-size: 1.2em;
}

.hero-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media all and (max-width: 600px) {
  .navi {
    width: 100%;
    text-align: center;
  }
}

.Primary__font {
  font-weight: 1000;
  font-size: 60px;
}

.secondary__font {
  font-weight: 600;
}